NameError: name 'fruits' is not defined

In [6]:
["apple","orange","grapes","mango","pineapple","strawbwerry","papaya"]

['apple', 'orange', 'grapes', 'mango', 'pineapple', 'strawbwerry', 'papaya']

In [10]:
fruits.insert(3,"banana")

NameError: name 'fruits' is not defined

In [14]:
friuts=['banana','apple','orange','pinapple']

In [15]:
friuts

['banana', 'apple', 'orange', 'pinapple']

In [16]:
friuts.sort(reverse=true)

NameError: name 'true' is not defined

In [17]:
fruits

NameError: name 'fruits' is not defined

In [18]:
fruits

NameError: name 'fruits' is not defined

In [21]:
# tuple

In [25]:
students=('anon','adharsh','ashker','nidhin')

In [28]:
type(students)

tuple

In [31]:
#tuple

In [33]:
city=('newyork','lendon')

In [34]:
type(city)

tuple

In [35]:
s1=list(city)

In [36]:
s1

['newyork', 'lendon']

In [37]:
tuple(s1)

('newyork', 'lendon')

In [38]:
#dictionary

In [39]:
cities={'kochi':'ernakulam','pala':'kottayam'}

In [40]:
cities

{'kochi': 'ernakulam', 'pala': 'kottayam'}

In [41]:
#dictionary

In [47]:
friends={'anon':'wayanad','aromal':'chalakudy','akshay':'thrissur'}

In [43]:
friends

{'anon': 'wayanad', 'aromal': 'chalakudy', 'akshay': 'trishur'}

In [45]:
friends['anon']

'wayanad'

In [46]:
friends['akshay']

'trishur'

In [49]:
friends.pop('anon')

'wayanad'

In [50]:
friends

{'aromal': 'chalakudy', 'akshay': 'thrissur'}

In [54]:
states={'kL':{'capital':'Tvm','rank:1'},'TN':{'capital':'cni','rank:2'}

SyntaxError: ':' expected after dictionary key (3346284088.py, line 1)

In [55]:
set_01={'apple','orange','apple','grapes','orange'}

In [56]:
type(set_01)

set

In [57]:
set_01

{'apple', 'grapes', 'orange'}

In [59]:
set_01.add('kiwi')

In [60]:
set_01

{'apple', 'grapes', 'kiwi', 'orange'}

In [61]:
set_01.pop()

'kiwi'

In [63]:
set_01.remove('apple')

In [64]:
set_01

{'grapes', 'orange'}

In [65]:
def addition(a,b):
    c=a+b
    return c

In [66]:
a=int(input('enter no 01:'))
b=int(input('enter no 02:'))
addition(a,b)

enter no 01:5
enter no 02:8

13

In [69]:
def addition(a,b):
    c=a+b
    return c

In [76]:
if subtraction(a,b):
    c=a-b
else multiplication(a,b):
    c=a*b
    return c

SyntaxError: expected ':' (2516663894.py, line 3)

In [5]:
def add(a,b):
    c=a+b
    return c

In [6]:
add(4,8)

12

In [7]:
x = int(input('enter the 1st num'))
y = int(input('enter the 2nd num'))
print('sum is',add(x,y))

enter the 1st num6
enter the 2nd num8
sum is 14

In [15]:
def largeest(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b 
else:
    return c

SyntaxError: invalid syntax (1044732331.py, line 6)

In [21]:
scores = [6,7,3,2,7]
sc_set = set(scores)
top= max(sc_set)
sc.set.remove(top)
print(max(sc_set))

NameError: name 'sc' is not defined

In [24]:
scores = [6,7,3,2,7]
sc_set = set(scores)
top= max(sc_set)
sc.set.remove(top)
print(max(sc_set))

NameError: name 'sc' is not defined

In [31]:
set_1(1,2,3,4,5)
set_2(5,9,3,2,8)
if set_1.intersection(set_2):
    print(set_1&set_2)
else:
    print(set_1.union(set_2))

NameError: name 'set_1' is not defined

In [32]:
D={'John' :[25,32,43],'Peter':[87,55,96],'Ram'[58,55,43],'meena' :{}}

In [35]:
s='Nirmala'
s[s::2]

TypeError: slice indices must be integers or None or have an __index__ method

In [36]:
age = [23,36,48]
print('Elder = ',max(age))
print('youngest= ',min(age))

Elder =  48
youngest=  23